/* layout 通用 navbar icon */
.navbar {
  position: fixed;
  width: 100%;
  background: transparent;
  transition: all .25s ease all;
  z-index: 999;
  &-logo {
    color: $white;
  }
  & .cart-badge {
    top: 1px;
    right: 4px;
    background: $warning;
  } 
  & .nav-item .material-icons {
    top: -4px;
    left: 0px;
  }
  & .nav-item .cart-badge {
    top: 1px;
    right: -5px;
  }
  &-toggler {
    border: 0px solid transparent;
  }
  & .position-relative {
    width: 40px;
    height: 40px;
  }
  &-light .navbar-nav .nav-link {
    color: #fff;
    border-bottom: 1px solid #fff;
    &.active {
      color:$white;
    }
    &.active .material-icons {
      color:$white;
    }
  }
  &-scroll {
    background-color: $warning !important;
    & .navbar-logo {
      font-family: Kaushan Script, cursive;
      font-size: 40px;
      color: $topic;
      &:hover {
        color: $white;
      }
    }
    & .toggler-bar {
      background-color: $topic !important;
    }
  }
}
.nav-item {
  background: $hgray;
} 
@include pad {
  .nav-item {
    background:  transparent;
  } 
  .navbar-light .navbar-nav .nav-link {
    color: $white;
    border-bottom: none;
    &:hover, &:focus {
      color:$warning;
    }
    &.active {
      color:$white;
    }
  } 
  .navbar-scroll.navbar-light .navbar-nav .nav-link {
    color: $topic;
    &:hover, &:focus {
      color: $white;
    }
  }
  .navbar-logo {
    transition: all 0.25s ease;
    font-size: 3rem;
    color: $white;
    &:hover {
      color: $warning;
    }
  }
}
/* layout 通用 navbar icon */
button:focus {
  outline: 0px;
}
.toggler-bar {
  display: block;
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: $white;
  border-radius: 10px;
  transition: .2s;
  &-top {
    top: 5px;
    &-rotate {
      top: 15px;
      transform: rotate(45deg);
    }
  }
  &-middle {
    top: 16px;
  }
  &-bottom {
    top: 27px;
    &-rotate {
      top: 15px;
      transform: rotate(-45deg);
    }
  }
}
